<div class="header-section">
    <a routerLink="/homepage"><img class="header-logo" src="./assets/images/oranges_elbows_final.png"></a>

    <div class="nav-buttons">
        <button mat-button routerLink="/homepage">Home</button>
        <button mat-button routerLink="/our-services">Our Services</button>
        <button mat-button routerLink="/areas-we-service">Areas We Services</button>
        <button mat-button routerLink="/testimonials">Testimonials</button>
        <button mat-button routerLink="/contact">Contact Us</button>
        <button mat-button routerLink="/meet-the-crew">Meet the Crew</button>
    </div>

</div>