.header-section {
    height: 7em;
    width: auto;
}

.header-logo {
    max-height: 20em;
    width: auto;
    margin-left: 2em; //margin-top: 0.9em;
}

.nav-buttons {
    display: inline-block;
    position: absolute;
    margin-top: 20px;
    background-color: #FF9800;
    width: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Lobster');
$green: #76FF03;
$orange: #FF9800;
button {
    font-family: 'Lobster', cursive;
    font-size: 1.5em;
    color: white;
    width: auto;
}

button:hover {
    background-color: $green;
    color: white;
}