<app-carousel></app-carousel>
<div class="homepage-content">
    <div class="image-container">
        <img src="/assets/images/PlantsAndReflectionCropped.jpg" class="homepage-image z-depth-3">
        <p>Setup an appointment<span class="link" routerLink="/contact"> Here</span></p>
    </div>

    <div class="homepage-list">
        <ul>
            <li>Free Estimates</li>
            <li>Equipment and Supplies Provided</li>
            <li>Experienced Employees</li>
            <li>Gift Certificates Coming Soon</li>
            <li>Locally owned!</li>
        </ul>
    </div>
</div>