<p id="contact_title" class="h2 text-center mb-4">Our Services</p>
<p class="services_info">Oranges & Elbows will refresh your home from floor to ceiling with all our standard cleaning practices, which includes using only all-natural, non-toxic products. We make our most frequently used products right at home, adding essential oils for their
    antiviral and antibacterial properties. With the right tools, the best products, and a little elbow grease we can clean just about anything! </p>
<br>
<br>
<p class="services_info2">Below are our standard cleaning practices for every room in your home or business. Have something else in mind that you don’t see listed? Just ask! Oranges & Elbows creates a custom cleaning plan with each client; our standard services are only a starting
    point for what’s possible. Together, we’ll create the plan and schedule—weekly, semi-monthly, monthly, or one-time—to suit your needs. <a routerLink="/contact">Schedule an estimate today to get started!</a></p>

<div class="main-content">
    <div class="all-rooms">
        <h1>Standard Services:</h1>
        <hr>
        <dl>
            <dt>Dusting</dt>
            <dd>Are cobwebs filling corners in hard to reach places? Is your bathroom vent full of dust bunnies? Do your bookshelves store drifts of dust? Oranges & Elbows has you covered with floor-to-ceiling dusting. During your initial cleaning, we will
                take down that built-up dust and each subsequent cleaning we will do the work to maintain those ceiling fans, walls, tops of fridges, and more.</dd>
            <dt>Floors & Surfaces</dt>
            <dd>Tile, carpet, hardwood, glass, cement, marble, laminate—you name it, Oranges & Elbows can clean it. We have all the right all-natural cleaning products to clean and preserve your floors (even pesky grout lines!) Surfaces like countertops,
                backsplashes, cupboards, vanities, and mirrors will all receive a through cleaning and polish.</dd>
        </dl>
    </div>
    <img id="kitchen" class="z-depth-3" src="/assets/images/Kitchen.jpg">
    <div class="kitchen_text">
        <h1>Kitchen:</h1>
        <hr>
        <dl>
            <dt>Appliances (clean & polish)</dt>
            <dt>Cabinets</dt>
            <dt>Tables & Chairs</dt>
            <dt>Range Top</dt>
            <dt>Refrigerator</dt>
            <dt>Microwave</dt>
            <dt>Clean & Sanitize Sinks, Counter tops, and Backsplash</dt>
        </dl>
        <h1 class="bathroom-title">Bathroom:</h1>
        <hr>
        <dl>
            <dt>Mirrors</dt>
            <dt>Polish Chrome</dt>
            <dt>Clean & Sanitize Shower or Tub, Vanity, Toilet, Sink</dt>
        </dl>
    </div>
    <img id="green-clean" class="z-depth-3" src="/assets/images/greenClean.jpg">
    <div class="green-clean-text">
        <h1>Customize your home cleaning with our other available options:</h1>
        <hr>
        <dl>
            <dt>Oven Washing</dt>
            <dt>Wall Washing</dt>
            <dt>Organizing</dt>
            <dt>Packing & Unpacking</dt>
            <dt>Office/Small Space</dt>
            <dt>Special Events</dt>
            <dt>Change Linens</dt>
            <dt>Anything We Missed? <span><a routerLink="/contact">Just Ask!</a></span></dt>
        </dl>
        <h4>Oranges & Elbows provides customized plans to fit your needs. We offer weekly, bi-weekly, monhtly, or one-time services.</h4>
    </div>
</div>