<div class="top-text">
    <h1>Our Services</h1>
    <p>Oranges & Elbows offers a thorough cleaning service using only all natural, non-toxic products. Adding essential oils for their antiviral & antibacterial properties. There is nothing we can’t clean with a little elbow grease!</p>
</div>
<div class="main-content">
    <div class="all-rooms">
        <h1>All Rooms:</h1>
        <hr>
        <ul>
            <li>Floor to Ceiling Dusting</li>
            <li>Vacuum Carpets & Furniture</li>
        </ul>
    </div>
    <img id="kitchen" class="z-depth-3" src="/assets/images/Kitchen.jpg">
    <div class="kitchen_text">
        <h1>Kitchen:</h1>
        <hr>
        <ul>
            <li>Appliances (clean & polish)</li>
            <li>Cabinets</li>
            <li>Tables & Chairs</li>
            <li>Range Top</li>
            <li>Refrigerator</li>
            <li>Microwave</li>
            <li>Clean & Sanitize Sinks, Counter tops, and Backsplash</li>
        </ul>
        <h1 class="bathroom-title">Bathroom:</h1>
        <hr>
        <ul>
            <li>Mirrors</li>
            <li>Polish Chrome</li>
            <li>Clean & Sanitize Shower or Tub, Vanity, Toilet, Sink</li>
        </ul>
    </div>
    <img id="green-clean" class="z-depth-3" src="/assets/images/greenClean.jpg">
    <div class="green-clean-text">
        <h1>Customize your home cleaning with our other available options:</h1>
        <hr>
        <ul>
            <li>Oven Washing</li>
            <li>Wall Washing</li>
            <li>Organizing</li>
            <li>Packing & Unpacking</li>
            <li>Office/Small Space</li>
            <li>Special Events</li>
            <li>Change Linens</li>
            <li>Anything We Missed? <span><a routerLink="/contact">Just Ask!</a></span></li>
        </ul>
        <h4>Oranges & Elbows provides customized plans to fit your needs. We offer weekly, bi-weekly, monhtly, or one-time services.</h4>
    </div>
</div>