@import url('https://fonts.googleapis.com/css?family=Lobster');
$green: #76FF03;
$grey: #AAAAAA;
$orange: #FF9800;
agm-map {
    height: 30em;
    margin-top: 15px;
}

h1 {
    font-family: 'Lobster';
}