$green: #76FF03;
$grey: #AAAAAA;
$orange: #FF9800;
a {
    color: #76FF03;
}

a:hover {
    color: #FF9800;
}

.service-text {
    font-weight: 700;
    margin-left: 2em;
}

#top {
    margin-top: 20px;
}